body {
    color: rgba(88, 88, 88, 0.8);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    overflow-x: hidden !important;
    width: 100%;
    position: relative;
    font-family: popi_regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    cursor: pointer;
    color: #474747;
}
/*a:hover {
     color: #fff;
}
*/
a:focus {
    outline: 0 !important;
}
img {
    max-width: 100%;
}
/*== For Font face*/
@font-face {
    font-family: popi_bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: popi_light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: popi_regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: popi_medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: popi_semiBold;
    src: url(../fonts/Poppins-semiBold.ttf);
}
/*===============padding================*/
.pdn-5 {
    padding: 5px;
}
.pdn-10 {
    padding: 10px;
}
.pdn-20 {
    padding: 20px;
}
.pdn-25 {
    padding: 25px;
}
.pdn-10 {
    padding: 10px;
}
.pdnt-5 {
    padding-top: 5px;
}
.pdnt-10 {
    padding-top: 10px;
}
.pdnt-15 {
    padding-top: 15px;
}
.pdnt-20 {
    padding-top: 20px;
}
.pdnt-30 {
    padding-top: 30px;
}
.pdnt-40 {
    padding-top: 40px;
}
.pdnt-50 {
    padding-top: 50px;
}
.pdnb-5 {
    padding-bottom: 5px;
}
.pdnb-10 {
    padding-bottom: 10px;
}
.pdnb-15 {
    padding-bottom: 15px;
}
.pdnb-20 {
    padding-bottom: 20px;
}
.pdnb-30 {
    padding-bottom: 30px;
}
.pdnb-40 {
    padding-bottom: 40px;
}
.pdnb-50 {
    padding-bottom: 50px;
}
/*===============padding================*/
/*===============Margin================*/
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
/*===============Margin================*/
/*===============color================*/
.red{
    color: #ff6b11;
}
/*===============color================*/
/*===============common================*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: transparent;
}
input:focus, textarea:focus, select:focus{
    outline: transparent;
}
h1 {
    font-size: 4vw;
}
/*h2 {
     font-size: 3.0vh;
}
*/
p {
    font-size: 2vmin;
}
.checked {
    color: orange;
}
.title {
    font-size: 21px;
    font-family: popi_regular, sans-serif;
    /*border: 1px solid #8bc53f;*/
    /*display: inline-block;*/
    /*padding: 8px 14px;*/
}
/*===============common================*/
/*===============================================right section start====================================*/
.heading {
    margin: 0;
    background: #323335;
;
    border: 1px solid #797777;
    padding: 15px 0 15px 15px!important;
    color: #fff;
    font-size: 18px;
}
.page_heading h1{
    font-size: 3.2vw;
}
ul.nav-list.primary>li a {
    color: #000;
    text-decoration: none;
}
ul.nav-list.primary>li a {
    line-height: 16px;
    border-bottom: 1px solid #bbb;
    padding: 9px 14px;
    transition: all .3s;
    background: #f8f8f8;
    font-size: 16px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 7px 9px 7px 10px;
}
aside ul.nav-list>li>a:hover {
    background-color: #8bc53f;
    color: #fff;
}
aside.sidebar {
    box-shadow: 1px 1px 1px #9c9c9c;
}
/*===============================================right section End====================================*/
/*===============top nav================*/
.top_social i.fa {
    font-size: 1.3em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    background: #fff;
    color: #34495e;
    border-radius: 0.8em;
}
.afix {
    height: 111px;
}
.top_nav {
    background: #34495e;
}
ul.list-inline.pull-left {
    margin-top: 10px;
}
/*===============top nav================*/
/*===============Nav================*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff!important;
    background-color: #8bc53f;
}


.logo_section {
    height: 72px;
    overflow: hidden;
    position: relative;
}
.main_logo {
    top: 50%;
    transform: translateY(-50%);
}
.navbar {
    margin-bottom: 0;
}
.navbar, .dropdown-menu {
    background: transparent;
    border: none;
}
.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li {
    border-bottom: 0;
    transition: all 0.3s ease;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle {
    color: #6b6b6b;
}
.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-toggle .icon-bar {
    color: #fff;
    background: #fff;
}
.navbar-nav > li > a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    border: none;
    margin-left: 0;
}
.navbar-nav > li > a {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
.navbar-nav > li > a:hover:after, .navbar-nav > li > a:focus:after {
    width: 100%;
}
.navbar-nav > li > a {
    margin: 0 15px;
    padding: 10px 0;
    padding-top: 16px;
    font-family: popi_medium, sans-serif;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.menu {
    background: #fff;
    z-index: 5;
    border-top: 1px solid rgba(221, 221, 221, 0.28);
    border-bottom: 2px solid rgba(34, 34, 34, 0.078);
}
.navbar-nav>li>.dropdown-menu {
    background: #fff;
}
.navbar-nav>li:hover {
    background: red;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}
/*===============Nav================*/
/*===============Banner================*/
.banner_main {
    background: url(../images/baner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 375px;
}
.banner_cover {
    background: rgba(34, 34, 34, 0.7);
    height: 375px;
    text-align: center;
    position: relative;
}
.bnr_subtitle {
    color: #8bc53f;
    margin-top: 0;
    font-family: popi_medium, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.bnr_title {
    color: #fff;
    font-family: popi_semiBold, sans-serif;
    font-size: 48px;
    margin-top: 0;
}
.banner_aaset {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}
.search_item input[type="text"] {
    padding: 7px 17px;
    min-width: 20%;
    background: #fff;
    border: transparent;
    margin: 0 5px;
    border-radius: 15px;
}
.search_item select {
    padding: 4px 17px;
    min-width: 18%;
    background: #fff;
    border: transparent;
    margin: 0 5px;
    border-radius: 15px;
}
.search_item input[type="submit"] {
    padding: 7px 17px;
    background-color: #8bc53f;
    border: transparent;
    color: white;
    font-size: 100%;
    margin: 0 6px;
    border-radius: 15px;
}
/*===============Banner================*/
/*===============Service================*/
.service_img {
    position: relative;
    height: auto;
}
.service_title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    font-family: popi_bold, sans-serif;
    font-size: 32px;
}
/*===============Service================*/
/*===============top course================*/
.top_course_img img {
    width:100%;
}
#top_course {
    background: #2c4658;
}
.top_course_footer {
    background: rgba(221, 221, 221, 0.2);
    border-top: 1px solid #ddd;
}
.top_course_footer p {
    color: #ffffff;
}
.top_course_footer a {
    color: #ffffff;
}
.top_course_footer a:hover {
    color: #2c4658;
}
.panel-heading {
    border: 0;
}
.panel-body {
    padding: 0!important;
}
.nav-tabs {
    border: 0;
}
.panel-default {
    border: 0;
}
.panel-default>.panel-heading {
    background-color: transparent;
}
.panel {
    box-shadow: 0 1px 1px transparent;
    background: transparent;
    margin-bottom: 0;
}
.nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
#top_course .nav>li>a {
    position: relative;
    display: block;
    padding: 0 24px;
    color: #ffffff;
}
#top_course .panel-heading {
    padding: 0 0;
}
#top_course .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #8bc53f;
    font-family: popi_medium, sans-serif;
}
/*#top_course .nav-tabs>li::after {
     background: #80c431;
     content: "";
     display: block;
     height: 2px;
     position: absolute;
     transition: all 0.5s ease 0s;
     width: 0;
}
*/
#top_course .nav-tabs>li:hover::after {
    width: 100%;
}
/*#top_course .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
*/
#top_course .nav>li:focus, .nav>li:hover {
    background: transparent;
}
.course_title {
    color: #444;
    font-family: popi_medium, sans-serif;
    margin-top: 7px;
    margin-bottom: 1px;
    font-size: 17px;
    line-height: 22px;
    word-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 94%;
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
}
.course_mainn {
    background: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.course_mainn:hover {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.course_details {
    margin-bottom: 0;
    padding: 0 9px;
    font-family: popi_light, sans-serif;
    word-spacing: 1px;
    color: #666;
    height: 62px;
    overflow: hidden;
    /* padding-bottom: 5px;
     */
}
.browse_all a {
    color: #ffffff;
}
/*===============top course================*/
/*===============horizontal ad================*/
.ad_horizontal_img img {
    max-width:100%;
    margin: 0 auto;
}
#ad_horizontal{
    text-align: center;
}
/*===============horizontal ad================*/
/*===============news letter================*/
.span12 h2 {
    color: #fff;
    font-size: 27px;
    text-transform: none;
}
.span12 input.btn.btn-large {
    padding: 6px 17px;
    background-color: #8bc53f;
    border: transparent;
    color: white;
    font-size: 100%;
    margin: 0 6px;
    border-radius: 15px;
}
.span12 input[type="text"] {
    padding: 3px 16px;
    min-width: 20%;
    background: #fff;
    border: transparent;
    margin: 0 5px;
}
#news_letter {
    background: #2c4658;
}
#news_letter .span12 input[type="text"] {
    padding: 6px 16px;
    min-width: 34%;
    background: #fff;
    border: transparent;
    margin: 0 5px;
    border-radius: 15px;
}
/*===============news letter================*/
/*===============instructor================*/
#teacher {
    background: #2c4658;
}
.social_icon a i {
    color: #222;
}
.title_details {
}
.teacher_main {
    background: #222;
    height: 400px;
    position: relative;
}
.teacher_cover {
    position: absolute;
    width: 95%;
    border: 1px solid #fff;
    left: 0;
    right: 0;
    top: 7px;
    margin: 0 auto;
    height: 385px;
}
.social_icon span i {
    color: #2c4658;
    font-size: 20px;
    padding-right: 13px;
}
figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
    opacity: 0.4;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}
/*figure.effect-bubba p {
    padding: 0 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
*/
figure.effect-bubba:hover figcaption::before, figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-bubba:hover h2, figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.grid {
    position: relative;
    margin: 8px auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
.grid figure {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    text-align: center;
    height: 395px;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #2c4658;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption, .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure h2, .grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    color: #a7a6a6
}
.teacher_text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 26px;
}
.teacher_name {
    font-family: popi_medium, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}
.rating {
    font-size: 16px;
}
.teacher_name a {
    color: #2c4658;
}
/*===============instructor================*/
/*===============ad================*/
#become_instructor {
    overflow: hidden;
    background: #F9FAFC;
}
.instructor_main {
    height: 286px;
}
.instructor_main h1 {
    color: #2c4658;
    font-size: 35px;
    font-family: popi_bold;
}
.instructor_main a {
    padding: 4px 24px;
    background-color: #2c4658;
    color: #fff;
    font-size: 100%;
    margin: 0 6px;
    text-decoration: none;
    border-radius: 15px;
}
.ad_main {
    height: 286px;
    overflow: hidden;
}
/*===============ad================*/
/*===============Photo gallery================*/
.gallery {
    position: relative;
}
.gallery_img {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.gallery_img:hover {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    transition: all 0.5s ease;
}
.gallery_img img {
     height: 180px;
     width: 100%;
 }

.gallery p {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    color: #fff;
    background: rgba(34, 34, 34, 0.81);
    margin: 0 15px;
    padding: 2px 9px;
}
/*===============Photo gallery================*/
/*===============Testimonial================*/
#fade-quote-carousel.carousel {
    padding-bottom: 46px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #ffffff;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    margin-bottom: 0;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.item p {
    color: #fff;
}
.item {
    text-align: center;
}
.item span {
    color: #fff;
}
.quote {
    text-align: center;
}
.quote i {
    color: #fff;
    font-size: 35px;
}
.testi_image img {
    border-radius: 50px;
    border: 2px solid #fff;
}
/*===============Testimonial================*/
/*===============footer================*/
footer {
    background-color: #2e4859;
}
.adress span, .contact span, .social_footer span {
    color: #FFF;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: popi_bold, sans-serif;
}
.adress li p, .contact li a, .social_footer li a {
    font-family: popi_medium, sans-serif;
    color: #FFF;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
}
.adress, .contact, .social_footer {
    list-style: none;
}
.social_footer li {
    float: left;
}
#footer .top_social{
    float: right;
}
.bottom_footer a {
    margin-right: 20px;
    color:#fff;
}
/*===============footer================*/
/*###################### T E A C H E R D E T A I L S P A G E##########################*/
/*########################################################################################*/
#page_heading {
    position: relative;
    height: 150px;
    overflow: hidden;
}
.page_heading_back img {
    width: 100%;
    /*height: 290px;*/
}
.page_heading {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    margin: 0 auto;
    color: #fff;
    font-family: popi_bold, sans-serif;
    font-size: 20px;
    border: 2px solid #8BC53F;
}
/*.page_heading h1 {*/
    /*padding: 40px;*/
/*}*/
.bio_img {
    height: 443px;
    overflow: hidden;
}
.bio_degi h2 {
    font-size: 19px;
    font-family: popi_bold, sans-serif;
}
.bio_social span i {
    font-size: 23px;
    letter-spacing: 13px;
    color: #797979;
}
.page_text {
    font-size: 15px;
    line-height: 24px;
    word-spacing: 2px;
}
.bio_link a {
    color: #797979;
    font-size: 16px;
    padding-top: 6px;
}
.bio_link a i {
    color: #1c384b;
}
#skill .progress-bar-success {
    background: rgb(112, 168, 24);
    background: -moz-linear-gradient(top, rgb(112, 168, 24) 1%, rgb(139, 191, 50) 50%, rgb(139, 191, 50) 52%, rgb(112, 168, 24) 100%);
    background: -webkit-linear-gradient(top, rgb(112, 168, 24) 1%, rgb(139, 191, 50) 50%, rgb(139, 191, 50) 52%, rgb(112, 168, 24) 100%);
    background: linear-gradient(to bottom, rgb(112, 168, 24) 1%, rgb(139, 191, 50) 50%, rgb(139, 191, 50) 52%, rgb(112, 168, 24) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#70a818', endColorstr='#70a818', GradientType=0);
}
#skill .progress {
    height: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #686868;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.bar_inner {
    float: left;
    width: 22%;
    overflow: hidden;
    font-family: popi_bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.titlle {
    font-family: popi_bold, sans-serif;
    font-size: 22px;
}
.edu_name {
    float: left;
    position: relative;
    font-size: 20px;
    font-family: popi_bold, sans-serif;
    padding-right: 10px;
}
.education .edu_name:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: -52px;
    top: 0;
    background: #fff;
    border: 3px solid;
    border-radius: 25px;
    z-index: 1;
    color: #8abe31;
}
.education:after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% + -36px);
    left: 55px;
    top: 0;
    opacity: .5;
}
.education {
    padding-left: 100px;
    position: relative;
}
.education:after, .owl-nav div:hover, .blog-item:after {
    background: #82b729;
}
.inner {
    padding: 1em;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.rating {
    margin-right: 5%;
    text-align: center;
}
.rating-num {
    color: #333333;
    font-size: 72px;
    font-weight: 100;
    line-height: 1em;
}
.rating-stars {
    font-size: 20px;
    color: #E3E3E3;
    margin-bottom: .5em;
}
.rating-stars .active {
    color: #737373;
}
.rating-users {
    font-size: 14px;
}
p#star-val {
    position: absolute;
    left: 40px;
    margin-top: 4px;
    font-size: 15px;
}
/*rating*/
.start-rating{
    line-height: 32px;
    font-size: 1.25em;
}
.start-rating .fa-star{
    color: orange;
    cursor: pointer;
}

.login-form{
    padding: 45px 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px 3px #ccc;
    border-radius: 5px;
    margin: 20px auto;
    background: #fff;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 6px;
}
/*.ratingg {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.ratingg input {
    position: absolute;
    left: -999999px;
}
.ratingg label {
    display: inline-block;
    font-size: 0;
}
.ratingg > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ratingg > label:hover:before, .ratingg > label:hover ~ label:before, .ratingg > label.selected:before, .ratingg > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
.contact-form {
    margin-top: 15px;
}
.contact-form .textarea {
    min-height: 150px;
    resize: none;
}
.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 40px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #70a818;
}
.form-control-feedback {
    line-height: 50px;
}
.main-btn {
    background: #70A818;
    color: #fff;
    border-radius: 4px;
}
.main-btn:hover {
    background: #2e4859;
    color: #fff;
}
.form-control-feedback {
    line-height: 50px;
    top: 0;
}
#rating {
    /*height: 480px;*/
    /*overflow: hidden;*/
    position: relative;
}
/*review*/
.Review {
    padding: 24px;
}
@media screen and (min-width: 650px) {
    .Review {
        padding: 48px;
    }
}
.Review-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.Review-details p {
    margin: 0;
}
.Review-body p {
    font-size: 15px;
    font-family: popi_light, sans-serif;
}
.Review-details img {
    width: 54px;
    height: 54px;
    margin-right: 1.5rem;
    border-radius: 50%;
}
.Review-author {
    font-weight: bold;
    font-size: 15px;
}
.Review-date {
    color: #b6c2cc;
}
.Review-star {
    color: #B6C2CC;
}
.Review-star-active {
    color: #FF7867;
}
.Review {
    padding: 3rem;
    overflow: hidden;
    height: 221px;
}
/*###################### T E A C H E R D E T A I L S P A G E##########################*/
/*########################################################################################*/
/*###################### T E A C H E R P A G E##########################*/
/*######################################################################*/
.related_teacher {
    height: 90px;
}
.related_teacher {
    position: relative;
    background: rgba(28, 59, 79, 0.08);
    margin-bottom: 5px;
    padding: 4px 0;
}
.related_teacher:hover {
    background: #8bc53f;
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color:#fff;
}
.related_teacher_text h2{
    font-size: 1.2vw;
    margin-top: 6px;
}
.related_teacher_img img {
    background: #ffffff;
    border: 2px solid #8bc53f;
    /* left: 15px;
     */
    top: 0;
    padding: 2px;
    height: 80px;
    width: 80px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    /* -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
    */
}
.grid_hover {
    background: #8BC53F;
    color: #fff;
    position: absolute;
    z-index: 1;
    height: 260px;
    opacity: 0;
    overflow: hidden;
}
.grid_hover p {
    font-family: popi_light, sans-serif;
    padding: 0 5px;
    overflow: hidden;
    color: #fff;
    text-align: justify;
}
.teacher_grid {
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.grid:hover .grid_hover {
    opacity: 1;
    transition: all 0.5s ease;
}
/*###################### T E A C H E R P A G E##########################*/
/*######################################################################*/
/*###################### C O U R S E P A G E##########################*/
/*######################################################################*/
.cortanna{
}
.course_main_title {
    font-family: popi_semiBold,sans-serif;
    font-size: 22px;
    text-align: center;
}
.course_main a {
    display: block;
    line-height: 25px;
    font-family: popi_medium;
}
.course_main a:hover {
    color: #c54c3f;
}
.course_mainn h2>a {
    color: #444;
    font-size: 1.3vw;
}
.course_main {
    opacity: 0;
    top: 0;
    padding: 23px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 91%;
    position: absolute;
    background: #fff;
    transition: .5s ease;
    display: none;
    z-index: 1;
}
.cortanna:hover .course_main {
    opacity: 1!important;
    display: block;
}
.course_maiin {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 23px;
    background: #fff;
}
.course_page_search .search_item input[type="text"] {
    background: #34495e;
    color: #fff;
}
.course_page_search .search_item input[type="text"]::placeholder {
    color: #fff;
}
.course_page_search .search_item select {
    background: #34495e;
    color: #fff;
}
.tabs-left > .nav-tabs {
    /* float: left;
     margin-right: 19px;
    */
    border: none;
}
.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: left;
    width: 100%;
}
.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    background-color: #536779;
    border-radius:0px;
    color: white;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    background-color: #8bc53f;
    border: none;
    color: #fff;
}
.left-tab-process .tab-content {
    background-color: #fff;
    padding-right: 0;
}
.tab-content > .active, .pill-content > .active {
    display: block;
}
.book-process-ltab{
    max-width:100%;
}
.left-tab-process .tab-pane{
    padding: 0px 11px;
    min-height: 442px;
}
.left-tab-process h4 {
    color: #536779;
    font-family: popi_light;
    font-size: 16px;
}
.term-fa{
    margin-right: 7px;
    font-size: 11px;
    margin-left: -18px;
    color: #2EA72F;
}
.tac-content{
    background-color:#ccc;
}
/*######################################################################*/
/*###################### C O U R S E P A G E##########################*/
/*######################################################################*/
/*################ C O U R S E D E T A I L S P A G E###################*/
/*Panel tabs*/
#course_details .container{
    background:#fff;
}
#course_details{
    background:#e5e5e5;
}
.course_panel_heading{
    border:0;
}
.course_panel_heading .panel-heading{
    background: #ddd;
}
.panel-tabs {
    position: relative;
    clear:both;
    border-bottom: 1px solid transparent;
}
.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #323335;
}
.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #8bc53f;
    background-color: transparent;
}
.panel-tabs > li.active > a, .panel-tabs > li.active > a:hover, .panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    background-color: rgb(50, 51, 53);
    border-bottom-color: transparent;
}
.course_details_left .course_main {
    display: block;
    opacity: 1;
    position: relative;
    width: 100%;
    box-shadow: 0 0 0 0;
}
.article_heading {
    color: #363838;
    margin-top: 0;
    font-family: popi_medium, sans-serif;
    text-transform: uppercase;
    /* font-weight: 600;
     */
    font-size: 23px;
    /* line-height: 1.2;
     */
}
.article_cover {
    height: auto;
    overflow: hidden;
}
.number_back {
    background: #363838;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    position: relative;
}
.number_back span {
    color: #fff;
    font-family: popi_bold,sans-serif;
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.achieve_text {
    padding-left: 60px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
.course_for p {
    background: #efefef;
    color: #363838;
}
/*.module_list {
     list-style: none;
}
 .module_list li {
     padding: 10px;
     text-indent: -.7em;
     color: #474747;
}
 .module_list li i {
     color: #8BC53F;
}
*/
.lesson_player {
    padding: 4px;
}
.lesson_player iframe{
    border-radius: 18px;
}
/*comments*/
/*.jquery-comments * {*/
    /*box-sizing: border-box;*/
    /*text-shadow: none;*/
/*}*/
/*.jquery-comments a[href] {*/
    /*color: #2793e6;*/
    /*text-decoration: none;*/
/*}*/
/*.jquery-comments a[href]:hover {*/
    /*text-decoration: underline;*/
/*}*/
/*.jquery-comments .textarea, .jquery-comments input, .jquery-comments button {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*vertical-align: top;*/
    /*border-radius: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*outline: 0;*/
    /*background: rgba(0, 0, 0, 0);*/
/*}*/
/*.jquery-comments button {*/
    /*vertical-align: inherit;*/
/*}*/
/*.jquery-comments .tag {*/
    /*color: inherit;*/
    /*font-size: 0.9em;*/
    /*line-height: 1.2em;*/
    /*background: #ddd;*/
    /*border: 1px solid #ccc;*/
    /*padding: 0.05em 0.4em;*/
    /*cursor: pointer;*/
    /*font-weight: normal;*/
    /*border-radius: 1em;*/
    /*transition: all 0.2s linear;*/
/*}*/
/*.jquery-comments .tag:hover {*/
    /*text-decoration: none;*/
    /*background-color: #d8edf8;*/
    /*border-color: #2793e6;*/
/*}*/
/*.jquery-comments [contentEditable=true]:empty:not(:focus):before {*/
    /*content: attr(data-placeholder);*/
    /*color: #CCC;*/
    /*position: inherit;*/
/*}*/
/*.jquery-comments i.fa {*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*background-size: cover;*/
/*}*/
/*.jquery-comments i.fa.image:before {*/
    /*content: "";*/
/*}*/
/*.jquery-comments .spinner {*/
    /*font-size: 2em;*/
    /*text-align: center;*/
    /*padding: 0.5em;*/
    /*color: #666;*/
/*}*/
/*.jquery-comments ul {*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.jquery-comments .profile-picture {*/
    /*float: left;*/
    /*width: 6.6rem;*/
    /*height: 6.6rem;*/
    /*max-width: 60px;*/
    /*max-height: 59px;*/
    /*border-radius: 31px;*/
/*}*/
/*.jquery-comments i.profile-picture {*/
    /*font-size: 3.4em;*/
    /*text-align: center;*/
/*}*/
/*.jquery-comments .profile-picture.round {*/
    /*border-radius: 50%;*/
/*}*/
/*.jquery-comments .commenting-field.main {*/
    /*margin-bottom: 0.75em;*/
/*}*/
/*.jquery-comments .commenting-field.main .profile-picture {*/
    /*margin-bottom: 1rem;*/
/*}*/
/*.jquery-comments .textarea-wrapper {*/
    /*padding-left: 15px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.jquery-comments .textarea-wrapper:before {*/
    /*content: " ";*/
    /*position: absolute;*/
    /*border: 5px solid #D5D5D5;*/
    /*left: 5px;*/
    /*top: 0;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*box-sizing: border-box;*/
    /*border-bottom-color: rgba(0, 0, 0, 0);*/
    /*border-left-color: rgba(0, 0, 0, 0);*/
/*}*/
/*.jquery-comments .textarea-wrapper:after {*/
    /*content: " ";*/
    /*position: absolute;*/
    /*border: 7px solid #FFF;*/
    /*left: 7px;*/
    /*top: 1px;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*box-sizing: border-box;*/
    /*border-bottom-color: rgba(0, 0, 0, 0);*/
    /*border-left-color: rgba(0, 0, 0, 0);*/
/*}*/
/*.jquery-comments .textarea-wrapper .close {*/
    /*cursor: pointer;*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*right: 0;*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*border: .5em solid rgba(0, 0, 0, 0);*/
    /*box-sizing: content-box;*/
    /*font-size: inherit;*/
    /*opacity: 0.5;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/
/*.jquery-comments .textarea-wrapper .close:hover {*/
    /*opacity: 1;*/
/*}*/
/*.jquery-comments:not(.mobile) .scrollable .textarea-wrapper .close {*/
    /*margin-right: 15px;*/
    /*!* Because of scrollbar *!*/
/*}*/
/*.jquery-comments .textarea-wrapper .close span {*/
    /*background: #999;*/
    /*width: 25%;*/
    /*left: 37.5%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*-ms-transform: rotate(45deg);*/
    /*-webkit-transform: rotate(45deg);*/
    /*transform: rotate(45deg);*/
/*}*/
/*.jquery-comments .textarea-wrapper .close .right {*/
    /*-ms-transform: rotate(-45deg);*/
    /*-webkit-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
/*}*/
/*.jquery-comments .textarea-wrapper .textarea {*/
    /*margin: 0;*/
    /*outline: 0;*/
    /*overflow-y: auto;*/
    /*cursor: text;*/
    /*border: 1px solid #CCC;*/
/*;*/
    /*background: #FFF;*/
    /*font-size: 1em;*/
    /*line-height: 1.45em;*/
    /*padding: .25em .8em;*/
    /*padding-right: 2em;*/
/*}*/
/*.jquery-comments:not(.mobile) .scrollable .textarea-wrapper .textarea {*/
    /*padding-right: calc(2em + 15px);*/
    /*!* Because of scrollbar *!*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span {*/
    /*float: right;*/
    /*color: #FFF;*/
    /*padding: 0 1em;*/
    /*font-size: 1em;*/
    /*line-height: 1.6em;*/
    /*margin-top: .4em;*/
    /*border: 1px solid rgba(0, 0, 0, 0);*/
    /*opacity: .5;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span:not(:first-child) {*/
    /*margin-right: .5em;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span.enabled {*/
    /*opacity: 1;*/
    /*cursor: pointer;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span:not(.enabled) {*/
    /*pointer-events: none;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span.enabled:hover {*/
    /*opacity: .9;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span.upload {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*background-color: #999;*/
/*}*/
/*.jquery-comments .textarea-wrapper .control-row > span.upload input {*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*opacity: 0;*/
    /*height: 100%;*/
/*}*/
/*.jquery-comments ul.navigation {*/
    /*clear: both;*/
    /*color: #CCC;*/
    /*line-height: 2em;*/
    /*font-size: 1em;*/
    /*margin-bottom: 0.5em;*/
    /*display: none;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper {*/
    /*position: relative;*/
/*}*/
/*.jquery-comments ul.navigation li {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding: 0 1em;*/
    /*cursor: pointer;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/
/*.jquery-comments ul.navigation li.active, .jquery-comments ul.navigation li:hover {*/
    /*color: #000;*/
/*}*/
/*.jquery-comments ul.navigation li.active:after {*/
    /*content: " ";*/
    /*display: block;*/
    /*right: 0;*/
    /*height: 2px;*/
    /*background: #000;*/
    /*position: absolute;*/
    /*bottom: -2px;*/
    /*left: 0;*/
/*}*/
/*.jquery-comments ul.navigation li[data-sort-key="attachments"] {*/
    /*float: right;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive {*/
    /*display: none;*/
/*}*/
/*@media screen and (max-width: 600px) {*/
    /*.jquery-comments ul.navigation .navigation-wrapper {*/
        /*display: none;*/
    /*}*/
    /*.jquery-comments ul.navigation .navigation-wrapper.responsive {*/
        /*display: inline;*/
    /*}*/
/*}*/
/*.jquery-comments.responsive ul.navigation .navigation-wrapper {*/
    /*display: none;*/
/*}*/
/*.jquery-comments.responsive ul.navigation .navigation-wrapper.responsive {*/
    /*display: inline;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive li.title {*/
    /*padding: 0 1.5em;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive li.title header:after {*/
    /*display: inline-block;*/
    /*content: "";*/
    /*border-left: 0.3em solid rgba(0, 0, 0, 0) !important;*/
    /*border-right: 0.3em solid rgba(0, 0, 0, 0) !important;*/
    /*border-top: 0.4em solid #CCC;*/
    /*margin-left: 0.5em;*/
    /*position: relative;*/
    /*top: -0.1em;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive li.title.active header:after, .jquery-comments ul.navigation .navigation-wrapper.responsive li.title:hover header:after {*/
    /*border-top-color: #000;*/
/*}*/
/*.jquery-comments ul.dropdown {*/
    /*display: none;*/
    /*position: absolute;*/
    /*background: #FFF;*/
    /*z-index: 99;*/
    /*line-height: 1.2em;*/
    /*border: 1px solid #CCC;*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
/*}*/
/*.jquery-comments ul.dropdown.autocomplete {*/
    /*margin-top: 0.25em;*/
/*}*/
/*.jquery-comments ul.dropdown li {*/
    /*display: block;*/
    /*white-space: nowrap;*/
    /*clear: both;*/
    /*padding: 0.5em 1em;*/
    /*font-weight: normal;*/
    /*cursor: pointer;*/
/*}*/
/*.jquery-comments ul.dropdown li.active {*/
    /*background: #EEE;*/
/*}*/
/*.jquery-comments ul.dropdown li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: inherit;*/
/*}*/
/*.jquery-comments ul.dropdown li .profile-picture {*/
    /*float: left;*/
    /*width: 2.4em;*/
    /*height: 2.4em;*/
    /*margin-right: 0.5em;*/
/*}*/
/*.jquery-comments ul.dropdown li .details {*/
    /*display: inline-block;*/
/*}*/
/*.jquery-comments ul.dropdown li .name {*/
    /*font-weight: bold;*/
/*}*/
/*.jquery-comments ul.dropdown li .email {*/
    /*color: #AAA;*/
    /*font-size: 0.95em;*/
    /*margin-top: 0.1em;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive ul.dropdown {*/
    /*left: 0;*/
    /*width: 100%;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive ul.dropdown li {*/
    /*color: #000;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive ul.dropdown li.active {*/
    /*color: #FFF;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive ul.dropdown li:hover:not(.active) {*/
    /*background: #F5F5F5;*/
/*}*/
/*.jquery-comments ul.navigation .navigation-wrapper.responsive ul.dropdown li:after {*/
    /*display: none;*/
/*}*/
/*.jquery-comments .no-data {*/
    /*display: none;*/
    /*margin: 1em;*/
    /*text-align: center;*/
    /*font-size: 1.5em;*/
    /*color: #CCC;*/
/*}*/
/*.jquery-comments ul.main:empty ~ .no-comments {*/
    /*display: inherit;*/
/*}*/
/*.jquery-comments ul#attachment-list:empty ~ .no-attachments {*/
    /*display: inherit;*/
/*}*/
/*.jquery-comments ul.main li.comment {*/
    /*clear: both;*/
/*}*/
/*.jquery-comments ul.main li.comment .comment-wrapper, .jquery-comments ul.main li.toggle-all, .jquery-comments ul.main li.comment .commenting-field {*/
    /*padding: .5em;*/
/*}*/
/*.jquery-comments ul.main li.comment .comment-wrapper {*/
    /*border-top: 1px solid #DDD;*/
    /*overflow: hidden;*/
/*}*/
/*.jquery-comments ul.main > li.comment:first-child > .comment-wrapper {*/
    /*border-top: none;*/
/*}*/
/*.jquery-comments ul.main li.comment .comment-wrapper > .profile-picture {*/
    /*margin-right: .5rem;*/
/*}*/
/*.jquery-comments ul.main li.comment time {*/
    /*float: right;*/
    /*line-height: 1.4em;*/
    /*margin-left: .5em;*/
    /*font-size: 0.8em;*/
    /*color: #666;*/
/*}*/
/*.jquery-comments ul.main li.comment .name {*/
    /*line-height: 1.4em;*/
    /*font-weight: bold;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
/*}*/
/*.jquery-comments ul.main li.comment .name a {*/
    /*color: inherit;*/
/*}*/
/*.jquery-comments ul.main li.comment .name .reply-to {*/
    /*color: #999;*/
    /*font-size: .8em;*/
    /*font-weight: normal;*/
    /*vertical-align: top;*/
/*}*/
/*.jquery-comments ul.main li.comment .name .reply-to i {*/
    /*margin-left: .5em;*/
    /*margin-right: .25em;*/
/*}*/
/*.jquery-comments ul.main li.comment .wrapper {*/
    /*line-height: 1.3em;*/
    /*overflow: hidden;*/
/*}*/
/*.jquery-comments.mobile ul.main li.comment .child-comments li.comment .wrapper {*/
    /*overflow: visible;*/
/*}*/
/*!* Content *!*/
/*.jquery-comments ul.main li.comment .wrapper .content {*/
    /*white-space: pre-line;*/
    /*!* word-break: break-word;*/
    /**!*/
/*}*/
/*.jquery-comments ul.main li.comment .wrapper .content a.attachment i {*/
    /*margin-right: 0.5em;*/
/*}*/
/*.jquery-comments ul.main li.comment .wrapper .content a.attachment > * {*/
    /*max-width: 100%;*/
    /*max-height: 200px;*/
    /*width: auto;*/
    /*height: auto;*/
    /*margin-top: .25em;*/
    /*margin-bottom: .25em;*/
/*}*/
/*.jquery-comments ul.main li.comment .wrapper .content time.edited {*/
    /*float: inherit;*/
    /*margin: 0;*/
    /*font-size: .9em;*/
    /*font-style: italic;*/
    /*color: #999;*/
/*}*/
/*.jquery-comments ul.main li.comment .wrapper .content time.edited:before {*/
    /*content: " - ";*/
/*}*/
/*!* Actions *!*/
/*.jquery-comments.mobile ul.main li.comment .actions {*/
    /*font-size: 1em;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions > * {*/
    /*color: #999;*/
    /*font-weight: bold;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action {*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
    /*line-height: 1.5em;*/
    /*font-size: 0.9em;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action:first-child {*/
    /*margin-left: 0;*/
    /*background: #70a818;*/
    /*color: #fff;*/
    /*float: right;*/
    /*padding: 6px 30px;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.upvote {*/
    /*cursor: inherit;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.upvote .upvote-count {*/
    /*margin-right: .5em;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.upvote .upvote-count:empty {*/
    /*display: none;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.upvote i {*/
    /*cursor: pointer;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action:not(.upvote):hover, .jquery-comments ul.main li.comment .actions .action.upvote:not(.highlight-font) i:hover {*/
    /*color: #666;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.delete {*/
    /*opacity: 0.5;*/
    /*pointer-events: none;*/
/*}*/
/*.jquery-comments ul.main li.comment .actions .action.delete.enabled {*/
    /*opacity: 1;*/
    /*pointer-events: auto;*/
/*}*/
/*.jquery-comments ul#attachment-list li.comment .actions .action:not(.delete) {*/
    /*display: none;*/
/*}*/
/*.jquery-comments ul#attachment-list li.comment .actions .action.delete {*/
    /*margin: 0;*/
/*}*/
/*.jquery-comments ul#attachment-list li.comment .actions .separator {*/
    /*display: none;*/
/*}*/
/*!* Child comments *!*/
/*.jquery-comments ul.main li.comment .child-comments > *:before {*/
    /*!* Margin for second level content *!*/
    /*content: "";*/
    /*height: 1px;*/
    /*float: left;*/
    /*width: calc(3.6em + .5em);*/
    /*!* Profile picture width plus margin *!*/
    /*max-width: calc(50px + .5em);*/
    /*!* Profile picture max width plus margin *!*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments .profile-picture {*/
    /*width: 2.4rem;*/
    /*height: 2.4rem;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments i.profile-picture {*/
    /*font-size: 2.4em;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments li.toggle-all {*/
    /*padding-top: 0;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments li.toggle-all span:first-child {*/
    /*vertical-align: middle;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments li.toggle-all span:first-child:hover {*/
    /*cursor: pointer;*/
    /*text-decoration: underline;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments li.toggle-all .caret {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin-left: .5em;*/
    /*border: .3em solid;*/
    /*margin-top: .35em;*/
    /*border-left-color: rgba(0, 0, 0, 0);*/
    /*border-bottom-color: rgba(0, 0, 0, 0);*/
    /*border-right-color: rgba(0, 0, 0, 0);*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments li.toggle-all .caret.up {*/
    /*border-top-color: rgba(0, 0, 0, 0);*/
    /*border-bottom-color: inherit;*/
    /*margin-top: -.2em;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments .hidden-reply {*/
    /*display: none;*/
/*}*/
/*.jquery-comments ul.main li.comment .child-comments .visible {*/
    /*display: inherit;*/
/*}*/
/*!* Editing comment *!*/
/*.jquery-comments ul.main li.comment.edit > .comment-wrapper > *:not(.commenting-field) {*/
    /*display: none;*/
/*}*/
/*.jquery-comments ul.main li.comment.edit > .comment-wrapper .commenting-field {*/
    /*padding: 0 !important;*/
    /*!* Parent element has the padding *!*/
/*}*/
/*!* Read-only mode *!*/
/*.jquery-comments.read-only .commenting-field {*/
    /*display: none;*/
/*}*/
/*.jquery-comments.read-only .actions {*/
    /*display: none;*/
/*}*/
/*comments*/
/*right panel teacher*/
.card {
    padding-top: 20px;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-heading {
    padding: 0 20px;
    margin: 0;
}
.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}
.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}
.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}
.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}
.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}
.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a, .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}
.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}
.card.people:first-child {
    margin-left: 0;
}
.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}
.card.people .card-top.green {
    background-color: #53a93f;
}
.card.people .card-top.blue {
    background-color: #427fed;
}
.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.people .card-info .titlle {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}
.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(139, 197, 63, 0.31);
    border-radius: 0;
    background: transparent;
    width: 287px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
.titlle a {
    color: #353535;
}
.card.hovercard .cardheader {
}
.card.hovercard .avatar {
    position: relative;
}
.card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .info {
    padding: 4px 8px 10px;
}
.card.hovercard .info .titlle {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}
.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.card .btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
}
.course_details_teacher {
    margin-top: 0;
    background: #323335;
    color: #fff;
    font-family: popi_medium;
    padding: 10px;
    font-size: 15px;
}
.related_courses_img {
    width: 40%;
    padding-right: 5px;
}
.related_courses .media {
    border-bottom: 1px solid #ddd;
}
.related_courses .well {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 13px;
}
.related_courses {
  /*  border: 1px solid rgba(139, 197, 63, 0.31);*/
}
/*right panel teacher*/
/*######################################################################*/
/*################## C O U R S E D E T A I L S P A G E#################*/
/*######################################################################*/
/*###################### R E S O U R C E P A G E#######################*/
.resource_img{
    position: relative;
}
.resource_img img{
    width:100%;
}
.resource_img_hover {
    position: absolute;
    top: 0;
    padding: 0 20px;
    background: #8BC53F;
    margin: 0 15px;
    left: 0;
    right: 0;
    height: 140px;
    opacity:0;
    transition: all 0.9s ease;
}
.resource_img_hover:hover {
    opacity:1;
}
.hover_text {
    font-size: 13px;
    color: #fff;
    height: 100px;
    overflow: hidden;
    padding-top: 4px;
}
.resource_img_hover a {
    padding: 1px 14px;
    background-color: #fff;
    color: #222;
    font-size: 100%;
    /* margin: 8px 74px;
     */
    text-align: center;
    margin-left: 33%;
}
/*###################### R E S O U R C E P A G E#######################*/
/*######################################################################*/
/*###################### S C H O O L P A G E#######################*/
/*###################################################################*/
/*.school_img_slide .slick-next {
     color: #34495e;
     background: #34495e;
}
*/
#school_details .slick-dots{
    display:none!important;
}
.established{
    text-shadow: 2px 2px 2px #222;
    font-size: 20px;
    letter-spacing: 2px;
}
.school_img_slide .slick-next:before {
    color: #1a394d;
}
.school_img_slide .slick-prev:before {
    color: #1a394d;
}
#school_page_heading h1 {
    font-family: popi_bold;
    margin: 0;
    background: #34495e;
    color: #fff;
    padding: 21px;
    font-size: 42px;
}
.school_address_icon i {
    padding-top: 10px;
    font-size: 20px;
    color: #1e3d4f;
}
.school_address_icon span {
    color: #1e3d4f;
    font-family: popi_medium,sans-serif;
}
.school_address_icon span a{
    color: #1e3d4f;
}
.school_img {
    height: 435px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.school_img img{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width:100%;
}
/*###################### S C H O O L P A G E#######################*/
/*###################################################################*/
/*###################### S C H O O L L I S T P A G E#######################*/
/*############################################################################*/
.listrap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.listrap li {
    padding: 3px 19px;
    transition: all 0.9s ease;
    border: 1px solid #ddd;
}
.listrap li:hover {
    background: #8bc53f;
}
.listrap strong {
    margin-left: 10px;
}
.listrap strong a {
    color: #474747;
    font-family: popi_bold,sans-serif;
    font-size: 20px;
}
.listrap li:hover strong a {
    color: #fff!important;
}
.institutionlogo{
    max-height: 60px;
}
.listrap .listrap-toggle {
    display: inline-block;
    width: 60px;
    height: 60px;
}
.listrap .listrap-toggle span {
    background-color: #428bca;
    opacity: 0.8;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    color: #ffffff;
}
/*###################### S C H O O L L I S T P A G E#######################*/
/*############################################################################*/
/*###################### I N S T I T U T I O N P A G E#######################*/
/*############################################################################*/
.institution_img img{
    width:100%;
}
.institution_img{
    position: relative;
}
.institution_img_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(46, 72, 89, 0.6);
    margin: 0 15px;
    height: 100%;
}
.institution_img_hover .bnr_subtitle {
    color: #ffffff;
    font-size: 35px;
    padding-top: 85px;
    text-transform: capitalize;
}
/*###################### I N S T I T U T I O N P A G E#######################*/
/*############################################################################*/
/*=====================Gallary page================*/
.modal{
    padding-right: 0!important;
}
.gal-container{
    padding:1px 0px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: 350px;
    overflow: hidden;
    position: relative;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: absolute;
    height: auto;
    bottom: 0;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    width: 100%;
}
.gal-container .description h4{
    margin:0;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50px auto;
    }
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/*=====================Gallary page================*/
/*=====================history details page================*/
.opening_hr h2 {
    font-family: popi_bold,sans-serif;
    font-size: 18px;
    color: #8bc53f;
}
.opening_hr {
    /* background: #e3e4e6;
     */
    padding: 20px;
    width: 72%;
    border: 7px solid #f9fafc;
}
.opening_hr ul {
    list-style: none;
    color:#8bc53f;
    padding-left: 0;
}
.panel_short_his {
    list-style: none;
    padding-left: 5px;
}
ul.panel_short_his li {
    font-size: 15px;
    padding-top: 9px;
}
.history_mid_img{
    float: left;
    width:40%;
    padding-right: 15px;
}
.site_panell {
    width: 300px;
    float: right;
    background: #F9FAFC;
    padding: 10px;
    margin-left: 15px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    margin-bottom: 15px;
}
.entry_fees {
    font-family: popi_bold;
    font-size: 16px;
    color: #8bc53f;
}
.entry_fees_dtl{
    padding-left: 5px;
    list-style: none;
}
/*=====================history details page================*/
/*=====================History list page================*/
.place-list-item-text p {
    color: #474747;
    font-family: popi_bold,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 0;
}
.place-list-item {
    border: 1px solid rgba(139, 197, 63, 0.47);
    transition: all 0.9s ease;
    height: 125px;
    position: relative;
    margin-top: 15px;
}
.place-list-item-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0;
}
.place-list-item-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.place-list-item:hover {
    background: #1c384b;
}
.place-list-item:hover p {
    color: #fff!important;
}
/*=====================History list page================*/
/*=====================Question page================*/
.sidebarservices .head {
    text-align: center;
    font-size: 15pt;
    background: #8bc53f;
    color: white;
    padding: 29px;
}
.sidebarservices li {
    list-style: none;
    background-color: #34495e;
    margin: 5px 10px;
    text-align: left;
    padding: 10px 0 10px 20px;
    border-radius: 5px 5px;
    cursor: pointer;
    transition: all 0.9s ease;
}
.sidebarservices li a {
    text-decoration:none;
    color:white !important;
}
.sidebarservices li:hover {
    background: #8bc53f;
    color: #fff;
}
/*=====================Question page================*/
/*=====================Quick learn page================*/
#quick_learn .resource_img_hover {
    position: absolute;
    top: 0;
    padding: 0 20px;
    background: #2e4859;
    height: 100%;
    margin: 0 15px;
    left: 0;
    right: 0;
    opacity: .7;
    transition: all 0.9s ease;
}
#quick_learn .resource_img_hover a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: popi_bold;
    margin-left: 0;
    margin-right: 16px;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    background: transparent;
}
#quick_learn .resource_img_hover:hover {
    opacity:1;
}
/*=====================Quick learn page================*/
/*================modal================*/
.login .modal-dialog{
    color: #333;
    top: 25%;
}
.modal-open {
    padding-right: 0px !important;
}
/*.modal-dialog {*/
    /*color: #fff;*/
    /*top: 30%;*/
    /*padding: 36px;*/
    /*text-align: center;*/
/*}*/
.modal-dialog h2 {
    font-family: popi_bold,sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.modal-dialog span a {
    color: #fc0;
    border: 1px solid;
    padding: 6px 44px;
}
.modal-dialog .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
/*================modal================*/
/*===================slide nav==================*/
.navigation {
    position: fixed;
    right: 0;
    z-index: 2;
    width: 20px;
    height: 100%;
    top: 0;
}
.navigation .numbers span {
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 4vh;
    opacity: 0.2;
    background: #000;
    transition: all 1.25s 1.25s;
}
.navigation .numbers span a {
    position: absolute;
    right: -3px;
    text-align: right;
    width: 180px;
    padding-right: 20px;
    letter-spacing:1px;
    color: #000;
    text-decoration: none;
    top: 50%;
    transform: translate(0px,-50%);
    font-size: 1.1vw;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    -webkit-backface-visibility: hidden;
    font-family: popi_light,sans-serif;
}
.navigation .numbers span:hover {
    opacity: 1;
    transition: .5s;
}
.navigation .numbers span:hover a {
    opacity: 1;
    padding-right: 32px;
    pointer-events: auto;
}
.navigation .numbers span a:hover {
    opacity: 1;
    padding-right: 32px;
    pointer-events: auto;
}
.numbers {
    position: absolute;
    top: 40vh;
    right: 1vw;
    width: 20px;
    transform: translateY(0);
}
.fp-viewing-1 .numbers {
    transform: translateY(0);
}
.fp-viewing-2 .numbers {
    transform: translateY(-6vh);
}
.fp-viewing-3 .numbers {
    transform: translateY(-12vh);
}
.fp-viewing-4 .numbers {
    transform: translateY(-18vh);
}
.fp-viewing-5 .numbers {
    transform: translateY(-24vh);
}
.numbers span.n1, .numbers span.n2, .numbers span.n3, .numbers span.n4, .numbers span.n5 {
    width: 14px;
    transition: all 2.25s .5s;
    opacity: 0.2;
}
.fp-viewing-1 span.n1, .fp-viewing-2 span.n2, .fp-viewing-3 span.n3, .fp-viewing-4 span.n4, .fp-viewing-5 span.n5 {
    opacity: 1;
}
/*===================slide nav==================*/

.search-bar {
    background: #1c384b;
    padding: 5px 0;

}
.simple-search {
    margin-bottom: -15px;
    padding-top: 1px;
}
.advance-search {
   margin: 20px;
}.advance-search .form-group {
     width: 25%;
 }

.select2-container {
    display: block;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #8bc53f;
     border-radius: 0;
}
.search-btn.btn-info {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.search-btn.btn {

    padding: 9px 12px;
    border: 1px solid transparent;
     border-radius: 0;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em;
    position: absolute;
    bottom: 60px;
    padding-left: 8px;
    color: #fff;
}
.lb-data .lb-caption p {
    max-width: 60%;
    font-size: 1vw;
    font-weight:  normal;
    color:  #fff;
}

.single-post {
    margin-bottom: 10px;
}
.chapter-panel{
    border: 1px solid;
    border-radius: 0px!important;
    border-color: #d6d6d6!important;
}
.chapter-heading{
    background-color: #f5f5f5;
}
.chapter-body{
    padding: 10px!important;
}
.list-header{
    background-color: black;
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    border-radius: 0px;
    color: white;
    padding: 10px;
    font-weight: 600;
}
.pointer{
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer!important;
}
.pointer:hover{
    background: beige;
}
.contentActive{
    background:#1b394b26 ;
}
.booksubject.text-center {
    background: #f3f3f3;
}

.booksubjectCaption.text-center {
    background-color: #adaeaf;
    height: 40px;
    overflow: hidden;
}

.booksubjectCaption h3 {
    margin:  0;
    padding: 8px;
    color: #2e4859;
}

.booksubject img {
    padding: 10px;
    width: 82px !important;
    margin: 0 auto;
}
.book-cover {
    background: transparent;
    padding: 20px 10px;
    border: 1px solid #ddd;
    max-width:  350px;
    margin: 0 auto;
}
a.btn-download {
    display:  inline-block;
    border:  1px solid #ddd;
    padding:  10px 44px;
    font-size:  18px;
    color:  #fff;
    background: #4fa23a;
    /* vertical-align:  middle; */
}
.book-hover.text-center {
    position:  absolute;
    height: 100%;
    width: 100%;
    background: rgba(142, 198, 71,.5);
    top: 0;
}
img.book-img {
    width: 120px;
    height: 150px;
    margin: 15px auto;
}
.single-book{
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.single-book h6{
    padding-bottom: 5px;
}
.book-hover {
    position:  absolute;
    width: 100%;
    left:  0;
    bottom: 0;
    background:  #8AC440;
    padding: 8px;
}
.book-hover a{
    color: #fff;
    font-size: 18px;
    display: block;
}
#module > .active{
    background: #e5e5e5;
    padding: 0px 5px;
    color: green;
}